---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/home.json?api-key=10e123446a9912fe513a27a4278990d7:18:74615897
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      X-Amz-Request-Id:
      - CDC23F44264AFF11
      Last-Modified:
      - Fri, 04 Mar 2016 02:12:24 GMT
      Etag:
      - '"7cfd50c61e499ca52742e060ecee850b"'
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2016 The New York Times Company.
        All Rights Reserved.","section":"home","last_updated":"2016-03-03T21:12:02-05:00","num_results":18,"results":[{"section":"U.S.","subsection":"Politics","title":"A
        Wounded Marco Rubio Falls Back to Florida","abstract":"The senator is redirecting
        resources toward his home state as some suggest his best hope may lie in a
        convention battle.","url":"http:\/\/www.nytimes.com\/2016\/03\/04\/us\/politics\/marco-rubio-florida.html","byline":"By
        JEREMY W. PETERS","item_type":"Article","updated_date":"2016-03-03T17:17:47-5:00","created_date":"2016-03-03T13:59:26-5:00","published_date":"2016-03-04T00:00:00-5:00","material_type_facet":"News","kicker":"","des_facet":["Presidential
        Election of 2016","Primaries and Caucuses"],"org_facet":["Republican Party"],"per_facet":["Rubio,
        Marco"],"geo_facet":["Florida"],"multimedia":[{"url":"http:\/\/static01.nyt.com\/images\/2016\/03\/04\/us\/04rubio-web\/04rubio-web-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"Senator
        Marco Rubio in Miami on Tuesday. He is redirecting his time and resources
        to Florida between now and the crucial March 15 winner-take-all primary.","copyright":"Eric
        Thayer for The New York Times"},{"url":"http:\/\/static01.nyt.com\/images\/2016\/03\/04\/us\/04rubio-web\/04rubio-web-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":"Senator
        Marco Rubio in Miami on Tuesday. He is redirecting his time [...]
