---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/c1b0c1c05588980a/conditions/q/MA/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.192'
      Last-Modified:
      - Thu, 03 Mar 2016 20:10:46 GMT
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boston, MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.37046814\",\n\t\t\"longitude\":\"-71.02747345\",\n\t\t\"elevation\":\"6.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Sumner Place, Boston, Massachusetts\",\n\t\t\"city\":\"Sumner
        Place, Boston\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.366253\",\n\t\t\"longitude\":\"-71.034462\",\n\t\t\"elevation\":\"56
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMABOSTO198\",\n\t\t\"observation_time\":\"Last
        Updated on March 3, 3:08 PM EST\",\n\t\t\"observation_time_rfc822\":\"Thu,
        03 Mar 2016 15:08:37 -0500\",\n\t\t\"observation_epoch\":\"1457035717\",\n\t\t\"local_time_rfc822\":\"Thu,
        03 Mar 2016 15:10:46 -0500\",\n\t\t\"local_epoch\":\"1457035846\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Scattered
        Clouds\",\n\t\t\"temperature_string\":\"36.9 F (2.7 C)\",\n\t\t\"temp_f\":36.9,\n\t\t\"temp_c\":2.7,\n\t\t\"relative_humidity\":\"24%\",\n\t\t\"wind_string\":\"From
        the SW at 1.7 MPH\",\n\t\t\"wind_dir\":\"SW\",\n\t\t\"wind_degrees\":225,\n\t\t\"wind_mph\":1.7,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":2.7,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1022\",\n\t\t\"pressure_in\":\"30.18\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"4
        F (-16 C)\",\n\t\t\"dewpoint_f\":4,\n\t\t\"dewpoint_c\":-16,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"37
        F (3 C)\",\n\t\t\"windchill_f\":\"37\",\n\t\t\"windchill_c\":\"3\",\n\t\t\"feelslike_string\":\"37
        F (3 C)\",\n\t\t\"feelslike_f\":\"37\",\n\t\t\"feelslike_c\":\"3\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"2\",\"precip_1hr_string\":\"-999.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"-999.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMABOSTO198\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.366253,-71.034462\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 03 Mar 2016 20:10:46 GMT
recorded_with: VCR 3.0.1
